
body, html {
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #a5af94;
  color: #284139;
  height: 100%;
}
main{margin-top: 3.9cm;}
header {height: 4cm;
  background-color: #a5af94;;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 20;
  
}

header .logo {
  position: fixed;
  top: 20px;
  left: 20px;
  border-radius: 10px;
}

header h1 {position: relative;
  top: 1cm;
  margin: 0;
  font-size: 2em;
  margin-left: 3cm;
}

nav ul {
  padding: 0;
  margin-top: 50px;
  margin-left: 3cm;
}

 li {
  display: inline-block;
  margin: 0 15px;
}

a {
  color: #284139;
  text-decoration: none;
  font-weight: bold;
}

 a:hover {
  border-radius: 10px;
  background-color: #AD8330;
  
 }


.container {
  display: flex;
  padding: 20px;
}

.sidebar {
  width: 20%;
  padding: 20px;
  margin-top: 2.8cm;
}

.sidebar h3 {
  margin: 20px 0;
}

.products {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.product {
 
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 180px;
  background-color: #D7DCC2; 
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.product h4 {
  margin: 10px 0 5px;
  font-size: 1em;
  color: #284139;
}
.product p {
  font-weight: bold;
  color: #AD8330;
  margin: 0;
}


footer {
  text-align: center;
  padding: 15px;
  background-color: #A5AF94;
  color: #284139;
  margin-top: auto;
}
button{
  color: #284139;
  padding: 8px 22px;
  border-radius: 100px;
  background-color: #A5AF94;
  transition: all 0.2s ease;
}
